skills{
    display: grid;
    height: 100%;
    place-items: center;
}

.skills-bar{
    max-width: 650px;
    background: #fff;

    border-radius: 10px;
    padding: 25px 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #f4f4f4;
}

.skillFont{
    font-size: 20px;
}

.skills-bar .bar{
    margin: 20px 0;
    
}

.skills-bar .bar:first-child{
    margin-top: 0px;
}

.skills-bar .bar .info{
    margin-bottom: 5px;
}

.skills-bar .bar .info span{
    /* text by the progress bar */
    font-size: 17px;
    font-family: "Montserrat", regular;
    font-weight: 580
}

.skills-bar .bar .progress-line{
    /* this is the background gray */
    position: relative;
    height: 20px;
    width: 100%;
    background: #dfdfdf;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05), 
                        0px 1px rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span{
    /* this is the actual progress bar */
    height: 100%;
    width: 80%;
    background: #ea81b5;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}

.progress-line.java span{
    width: 85%;
}

.progress-line.python span{
    width: 80%;
}

.progress-line.c span{
    width: 45%;
}

.progress-line.angular span{
    width: 30%;
}

.progress-line.AWS span{
    width: 20%;
}

.progress-line.photoshop span{
    width: 90%;
}

.progress-line.premiere span{
    width: 80%;
}

.progress-line.illustrator span{
    width: 55%;
}
.progress-line.maya span{
    width: 50%;
}
.progress-line.flstudio span{
    width: 60%;
}