html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    font-size: 18px;
    line-height: 1.75;
    margin: 0 auto;
    
}

h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 80px;
    font-weight: normal;
    color: #fff;
    line-height: 1;

}

h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', Bold;
    color: #222;
    font-weight: 1200;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
    font-family: "Montserrat", regular;
    font-weight: 580
}

p {
    font-family: "Montserrat", light;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    background: transparent;
    display: block;
    margin: 1.3em 1.3em;
    max-width: 95%;

    width: auto;
    height: auto;
    
    object-fit: contain;
}

.bigheader {
    z-index: 100;
}

.navbar {
    position: absolute;
    top: 0px;
    padding: 1.25em 1.75em 1em;
    background-color: transparent;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    transition: transform .2s;
}

.navbar a:hover {
    transform: scale(1.2);
    z-index: 5;
}

.title{
    line-height: 40px;
    text-align: center;

    color: #f2f2f2;

    background-color: #159957;
    background-image: linear-gradient(120deg, #d87660, #ea81b5);
    padding: 4.5rem 2rem;
    margin-bottom: 0.5rem;
}

.content {
    padding: 1em 3em 4em;
    animation-name: appear;
    animation-duration: 2s;
    margin: auto;
    max-width: 1000px;
}

.section {
    padding: 30px 0;
    
}

footer {
    text-align: center;
    font-size: 60px;

    background-color: #f4f4f4;
    padding: 1em 1em 1.25em;
    position: relative
}

@keyframes appear
    {
      from {opacity: 0;}
      to {opacity: 1;}
    }