.art_img{
    cursor: pointer;

    object-fit: cover;
    height: 25vw;
    width: 25vw;
}

.art_img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.arrowLeft{
    cursor: pointer;
    margin-right: 20px;
}
.arrowRight{
    cursor: pointer;
    margin-left: 20px;
}

.arrowLeftDisabled{
    margin: 15px;
    margin-right: 50px;
}
.arrowRightDisabled{
    margin: 15px;
    margin-left: 50px;
}

.arrows{
    top: 30em;
}

.artText{
    max-width: 300px;
    padding: 24px;
    padding-top: 0px;
    margin: 0px;
}

.artTitle{
    padding: 24px;
    margin: 0px;
}