.art_img{
    cursor: pointer;

    object-fit: cover;
    height: 400px;
    width: 400px;
}

.art_img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.art_img_zoom{
    max-height: 600px;
}

.arrowLeft{
    cursor: pointer;
    margin: 15px;
    margin-right: 50px;
}
.arrowRight{
    cursor: pointer;
    margin: 15px;
    margin-left: 50px;
}

.arrowLeftDisabled{
    margin: 15px;
    margin-right: 50px;
}
.arrowRightDisabled{
    margin: 15px;
    margin-left: 50px;
}

.arrows{
    top: 30em;
}

.artText{
    max-width: 300px;
    padding: 24px;
    padding-top: 12px;
    margin: 0px;
}

.artTitle{
    padding: 24px;
    padding-bottom: 6px;
    margin: 0px;
}