.musicIcon{
    cursor: pointer;
}

.paperPlayer{
    width: 100%;
    
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 10;
    animation: playerSpawn 0.75s;
}

@keyframes playerSpawn {
    0%    {  transform: translate(0, 100px); }
    100%  { transform: translate(0, 0); }
}

.songTitle{
    margin-bottom: 5px;
}

.volumeIcon{
    cursor: pointer;
}

.nothing{
    width: 26px;
    height: 20px;
}

