.Home{
    /* background: radial-gradient(circle at 75.1% 15.8%, rgb(36, 36, 36) 0%, rgb(0, 0, 0) 170.4%); */
    opacity: 0;
    transform: translate(0, 20%);
    transition: 2s;
}

.Home-zoom{
    opacity: 1;
    transform: translate(0);
    transition: 2s;
}

.bio{
    padding: 25px;
    padding-top: 15px;
    margin: 0px;
    text-align: left;
}

.bioHeader{
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    text-align: left;
}

.pfp{
    width: 175px;
    height: 175px;
    margin: 25px;
    margin-top: 15px;
    border-radius: 50%;
}

.bioBox{
    text-align: center;
    margin:0px auto;
}

.bioRow{
    display: flex;
    justify-content: center;
}

.skillRow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.homeContainer {
    position: relative;
    width: 100%;
    height: 100vh;

}

.bannerContent {
    padding-top: 25px;
}


