.bio{
    padding: 30px;
    padding-top: 15px;
    margin: 0px;
    text-align: left;
}

.bioPaper{
    margin-top: 40px;
    margin-bottom: 40px;
}

.bioHeader{
    padding: 30px;
    padding-bottom: 10px;
    margin: 0px;
    text-align: left;
}

.help{
    width: 100%;
    height: 150px;
    background-color: red;
}

.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.bioBanner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    text-align: center;
    
}

.skillsBanner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    background-image: linear-gradient(120deg, #404152, #1e1836);
    text-align: center;
    
}

.bannerContainer {
    position: relative;
    width: 100%;
    height: 100vh;

}

.bannerContent {
    margin: 50px;
}

.pfp{
    width: 300px;
    height: 300px;
    margin: 50px;
    border-radius: 50%;
}