.Music{
    opacity: 1;
    transform: scale(100%);
    transition: 2s;
}

.Music-zoom{
    opacity: 1;
    transform: scale(100%);
    transition: 1.5s;
}

.trackDiv{
    opacity: 0;
}
.trackDiv-zoom{
    opacity: 1;
    transition: 1.25s;

    animation: translateAnimArt 1.25s;
}

@keyframes translateAnimArt {
    0%    { transform: translate(0, 100%) }
    100%  { transform: translate(0); }
  }